@media only screen and (max-width: 500px) {
    .text {
        width: 100%;
    }
}
h1{
    background-size: 50px;

}
h2{
    color: firebrick;
    background-size: 70px;
}
body{
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiz3NiTSo6KAJZBKFDikKBueuE7sgzqI6uLQbbgpEf4GS2MrbNBA");
    background-color: White;
    background-attachment: fixed;
    background-size: contain;
}
img#myImg {
    filter:blur(5px);
}
